@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model InstructorModel;

<h1>Update Instructor Record</h1>

<form asp-controller="Instructor" asp-action="UpdateInstructor" method="post">
    <div class="form-group">
        <label asp-for="Id" readonly>Instructor ID</label>
        <input class="form-control" asp-for="Id" readonly>
    </div>
    <br />
    <div class="form-group">
        <label asp-for="FirstName">First Name</label>
        <input class="form-control" asp-for="FirstName">
    </div>
    <br />
    <div class="form-group">
        <label asp-for="LastName">Last Name</label>
        <input class="form-control" asp-for="LastName">
    </div>
    <br />
    <div class="form-group">
        <label asp-for="IsTenured">Status</label>
        <br />
        Full-Time <input asp-for="IsTenured" />
    </div>
    <br />

    <div class="form-group">
        <label asp-for="Rank">Rank</label>
        <select class="form-control" asp-for="Rank" asp-items="@Html.GetEnumSelectList(typeof(Ranks))">
        </select>
    </div>
    <br />
    <div class="form-group">
        <label asp-for="HiringDate">Date Hired</label>
        <input class="form-control" asp-for="HiringDate">
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Submit</button>
    <button type="button" onclick="history.back()" class="btn btn-secondary">Cancel</button>

</form>