@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model StudentModel;

<h1>Create New Student Record</h1>

<form asp-controller="Student" asp-action="AddStudent" method="post">
    <div class="form-group">
        <label asp-for="StudentId">Student ID Number</label>
        <input class="form-control" asp-for="StudentId">
    </div>
    <br />
    <div class="form-group">
        <label asp-for="StudentName">Student Name</label>
        <input class="form-control" asp-for="StudentName">
    </div>
    <br />
    <div class="form-group">
        <label asp-for="GeneralWeightedAverage">GPA</label>
        <input class="form-control" asp-for="GeneralWeightedAverage">
    </div>
    <br />
    <div class="form-group">
        <label asp-for="DateEnrolled">Enrollment Date</label>
        <input class="form-control" asp-for="DateEnrolled">
    </div>
    <br />
    <div class="form-group">
        <label asp-for="StudentCourse">Course</label>
        <select class="form-control" asp-for="StudentCourse" asp-items="@Html.GetEnumSelectList(typeof(Course))">
            @*<option>BSIT</option>
            <option>BSCS</option>
            <option>BSIS</option>*@
        </select>
    </div>
    <br />
    <div class="form-group">
        <label asp-for="StudentEmail">Email Address</label>
        <input class="form-control" asp-for="StudentEmail">
    </div>
    <br />

    @*<div class="form-group">
    <label for="StudentEmail">Email Address</label>
    <input type="email" class="form-control" id="StudentEmail" aria-describedby="emailHelp" >
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <br />*@

    <button type="submit" class="btn btn-primary">Submit</button>
    <button type="button" onclick="history.back()" class="btn btn-secondary">Cancel</button>
</form>